{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="offset-md-4 col-12 col-md-5">
    <form action="" method="post" enctype="multipart/form-data">
      {%csrf_token%}
      <!-- in input tags, name should be the same as that in the database -->
      <div class="form-group row" style="margin: 10px 0 10px 0">
        <div class="col-12 col-md-12">
          <label for="">Registration number</label>
          <input
            type="number"
            name="regNo"
            value="{{student.regNo}}"
            class="form-control"
          />
        </div>
      </div>
      <div class="form-group row" style="margin: 10px 0 10px 0">
        <div class="col-12 col-md-12">
          <label for="">Firstname</label>
          <input
            type="text"
            name="firstName"
            value="{{student.firstName}}"
            class="form-control"
          />
        </div>
      </div>
      <div class="form-group row" style="margin: 10px 0 10px 0">
        <div class="col-12 col-md-12">
          <label for="">Middlename</label>
          <input
            type="text"
            name="middleName"
            value="{{student.middleName}}"
            class="form-control"
          />
        </div>
      </div>
      <div class="form-group row" style="margin: 10px 0 10px 0">
        <div class="col-12 col-md-12">
          <label for="">Sir name</label>
          <input
            type="text"
            name="sirName"
            value="{{student.sirName}}"
            class="form-control"
          />
        </div>
      </div>
      <div class="form-group row" style="margin: 10px 0 10px 0">
        <div class="col-12 col-md-12">
          <label for="">Profile photo</label>
          <input
            type="file"
            name="profileImage"
            class="form-control"
            value="{{student.profileImage}}"
          />
        </div>
      </div>
      <div class="form-group row" style="margin: 10px 0 10px 0">
        <div class="col-12 col-md-6">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
